extends layout

block content
	container
		row.col-md-8
			h1 A propos
			hr
			h4 Info
			p Cette plateforme d'administration à été développée dans le cadre d'un travail de fin d'étude au FIL (Formation Informatique de l'Université de Lille 1) pour le Hub House.
			br
			p La version actuelle est la 0.1.4
			p Pour plus d'informations veuillez vous rendre sur le&nbsp;
				a(href="https://github.com/HubHouse-Lille/GeokH-web") GitHub
			br
			h4 Crédits
			br
			p Durieu Jean-Vital

		row.col-md-4
			img.center-block(src="img/hubhouse.png").img-responsive.successbg
			br
			br
			br
			img.center-block(src="img/lille1.png").img-responsive.successbg
