extends layout_main
block content
	container.col-md-8
		br
		h2 Serveur d'administration GeokH
		h5.text-info Ce serveur vous permet de définir les parcours disponible sur l'application GeokH. Toutes les entités sont éditables et devraient permettre de donner une grande liberté à la plateforme.
		br


		button.btn.btn-primary.btn-success(type='button', onclick="location.href='/parcours/view';")
			b Voir les parcours disponibles

		br
		br
		hr

		h3 A propos de ce serveur d'administration
		br
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam suscipit nisi, in eleifend libero fermentum at. Fusce augue enim, feugiat a lorem sit amet, eleifend viverra nisi. Sed viverra ipsum vitae volutpat maximus. Ut convallis venenatis metus id convallis. Vivamus placerat eros sed feugiat malesuada. Sed ipsum leo, rutrum ac eleifend eu, dictum ac lorem. Proin vel erat odio. Donec sollicitudin enim est, finibus pharetra magna molestie at. Quisque eleifend nisl efficitur tincidunt euismod. Praesent imperdiet enim in ipsum pulvinar facilisis. Quisque lacinia non enim id dictum. Quisque vel congue sapien. Aenean tempus sodales ante ut viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
		br
		p Suspendisse mi ante, auctor ullamcorper dapibus et, laoreet in ex. Donec id lectus vel elit eleifend tincidunt et non neque. In bibendum risus a massa egestas, sed mollis diam vehicula. Morbi vehicula mattis elit a mattis. Maecenas id enim tortor. Vestibulum eget condimentum velit, lacinia egestas elit. Maecenas volutpat tellus quam, nec elementum sem condimentum scelerisque. Nulla facilisi. Maecenas feugiat vestibulum nisl, eget lobortis sem bibendum nec. Maecenas imperdiet, nunc mollis fermentum convallis, arcu ante tempus ante, sed maximus erat ex ut risus. Morbi non diam faucibus, porttitor felis malesuada, interdum augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

		br

		h3 Permiers pas avec le serveur d'administration

		ol
			li
				a(href='https://github.com/sallareznov/p2p-wiki/wiki/Overview#' target='blank') Overview
			li
				a(href='https://github.com/sallareznov/p2p-wiki/wiki/Arborescence-d\'un-projet-Node-Express#' target='blank') Arborescence d\'un projet Node.js & Express-js
			li
				a(href='https://github.com/sallareznov/p2p-wiki/wiki/Guide-technique#' target='blank') Guide technique
			li
				a(href='https://github.com/sallareznov/p2p-wiki/wiki/Ressources-Utiles#' target='blank') Ressources utiles
			li
				a(href='https://github.com/sallareznov/p2p-wiki/wiki/Pour-Aller-Plus-Loin-Avec-Node.js#' target='blank') Pour aller plus loin avec Node.js

		br

		h3 Infos utiles

		p
			a(href='http://hubhouse.univ-lille1.fr/Accueil/' target='blank') Hub House Lille 1
		p
			a(href='http://univ-lille1.fr' target='blank') L'université de Lille 1
		p
			a(href='https://github.com/HubHouse-Lille' target='blank') Le git de l'application et du serveur d'administration
		br






