extends layout_login

block content
    container.col-md-12
        br
        br
        div.col-lg-4.col-lg-offset-4
            h2 Connexion
            if (msg != undefined)
                .alert.alert-warning(role="alert") #{msg}
            form(name="login", method="post", action="/login/")
                #e1
                    p Login
                        div.input-lg-12
                            input(type="text", name="username", placeholder="Login").form-control
                br
                #e2
                    p Mot de passe
                        div.input-lg-12
                            input(type="password", name="password", placeholder="Mot de passe").form-control
                br
                div.actions
                    input(type="submit", value="Connexion").btn.btn-success