extends layout_main

block content
    container.col-md-8

        br
        h2 Créer une question
        br
        div
            p Pour plus d'informations concernant les questions,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez-en plus
            #info.collapse
                .well
                    p Informations concernant les questions:
                    br

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        form(action="/dal/questions/create", method="post").input-group.input-group-lg
            #e1
                p La question qui sera posée
                div.input-lg-8.input-lg
                    input(type="text", name="question", placeholder="Question").form-control
                p.help-block exemple: Quel est la couleur rose du cheval de napoléon ?
            br
            #e2
                p Le thème
                div.input-lg-8.input-lg
                    input(type="text", name="theme", placeholder="Thème").form-control
                p.help-block exemple: Connaître la définition d’un entrepreneur
            br
            #e3
                p L'objectif
                div.input-lg-8.input-lg
                    input(type="text", name="objectif", placeholder="Objectif").form-control
            br
            #e4
                p Le type de question
                div.input-lg-8.input-lg
                    select#type(name="type").form-control
                        option(value="QCU" selected) Question à choix unitaire
                        option(value="QCM") Question à choix multiple
            br
            #qqcu
                p Les réponses sous forme de QCU
                div.input-lg-8.input-lg
                    input(type="text", name="qu1", placeholder="Réponse possible 1").form-control
                    | &nbsp;&nbsp;
                    input(type="radio", name="repQcu", value="1" checked)
                div.input-lg-8.input-lg
                    input(type="text", name="qu2", placeholder="Réponse possible 2").form-control
                    | &nbsp;&nbsp;
                    input(type="radio", name="repQcu", value="2")
                div.input-lg-8.input-lg
                    input(type="text", name="qu3", placeholder="Réponse possible 3").form-control
                    | &nbsp;&nbsp;
                    input(type="radio", name="repQcu", value="3")
                div.input-lg-8.input-lg
                    input(type="text", name="qu4", placeholder="Réponse possible 4").form-control
                    | &nbsp;&nbsp;
                    input(type="radio", name="repQcu", value="4")
                div.input-lg-8.input-lg
                    input(type="text", name="qu5", placeholder="Réponse possible 5").form-control
                    | &nbsp;&nbsp;
                    input(type="radio", name="repQcu", value="5")
            #qqcm
                p Les réponses sous forme de QCM
                div.input-lg-8.input-lg
                    input(type="text", name="qm1", placeholder="Réponse possible 1").form-control
                    | &nbsp;&nbsp;
                    input(type="checkbox", name="repQcm1", value="1")
                div.input-lg-8.input-lg
                    input(type="text", name="qm2", placeholder="Réponse possible 2").form-control
                    | &nbsp;&nbsp;
                    input(type="checkbox", name="repQcm2", value="2")
                div.input-lg-8.input-lg
                    input(type="text", name="qm3", placeholder="Réponse possible 3").form-control
                    | &nbsp;&nbsp;
                    input(type="checkbox", name="repQcm3", value="3")
                div.input-lg-8.input-lg
                    input(type="text", name="qm4", placeholder="Réponse possible 4").form-control
                    | &nbsp;&nbsp;
                    input(type="checkbox", name="repQcm4", value="4")
                div.input-lg-8.input-lg
                    input(type="text", name="qm5", placeholder="Réponse possible 5").form-control
                    | &nbsp;&nbsp;
                    input(type="checkbox", name="repQcm5", value="5")
            br
            #rep
                p Les Retours que vous souhaitez renvoyer
                div.input-lg-8.input-lg
                    input(type="text", name="ret1", placeholder="Retour 1").form-control
                div.input-lg-8.input-lg
                    input(type="text", name="ret2", placeholder="Retour 2").form-control
                div.input-lg-8.input-lg
                    input(type="text", name="ret3", placeholder="Retour 3").form-control
                div.input-lg-8.input-lg
                    input(type="text", name="ret4", placeholder="Retour 4").form-control
                div.input-lg-8.input-lg
                    input(type="text", name="ret5", placeholder="Retour 5").form-control
            br
            #diff
                p Difficulté de la question
                div.input-lg-8.input-lg
                    select(name="difficulte").form-control
                      option(value="1") Niveau 1
                      option(value="2") Niveau 2
                      option(value="3") Niveau 3
            br
            br
            div.actions
                input(type="submit", value="Créer la question").btn.btn-success
            br
            br

    script(type="text/javascript").
        $(function() {
        $('#qqcm').hide();
        $('#type').change(function(){
        if($('#type').val() == 'QCM') {
            $('#qqcm').show();
            $('#qqcu').hide();
        } else {
            $('#qqcm').hide();
            $('#qqcu').show();
        }
        });
        });